# Core functionality - changes here should be rare!
/src/app.py                   @btechnik
/src/backend/database.py      @btechnik
/src/backend/routers/auth.py  @btechnik

# The frontend will need refactored soon to be more object oriented.
/src/static/   @btechnik
